!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title MVCSS Library
  %link(href="assets/stylesheets/application.css" rel="stylesheet")
%body
  / Header
  %header.row--a.siteHeader
    .cell
      .grid
        .grid-box.grid-box--2of3
          %h1 MVCSS Library
          %h2 Markup Patterns &amp; JavaScript Components
        .grid-box.grid-box--1of3.grid-box--middle
          %a.btn--a.btn--block(href="https://github.com/mvcss/library") Take me to the code &rarr;

  / Content
  %section.row.content
    .cell
      .grid
        %aside.grid-box.grid-box--1of5
          %ul.sectionList
            %li <a href="#setup" data-hash="#setup">Setup</a>
            %li.is-developing Settings
            %li <a href="#buttons" data-hash="#buttons">Buttons</a>
            %li <a href="#containers" data-hash="#containers">Containers</a>
            %li.is-developing Content
            %li.is-developing Dropdowns
            %li <a href="#forms" data-hash="#forms">Forms</a>
            %li.is-developing Grids
            %li <a href="#hash-urls" data-hash="#hash-urls">Hash URLs</a>
            %li.is-developing Icons
            %li.is-developing Lists
            %li.is-developing Modals
            %li.is-developing Popovers
            %li <a href="#tables" data-hash="#tables">Tables</a>
            %li <a href="#tabs" data-hash="#tabs">Tabs</a>
            %li.is-developing Tooltips
        .grid-box.grid-box--4of5
          / Setup
          .contentSection#setup
            %h3 Setup
            %p Welcome to the <strong>currently in-development</strong> MVCSS Library. This codebase is a modular framework for markup patterns (<code>modules/</code>) and JavaScript components (<code>components/</code>) that are built on top of <a href="http://mvcss.github.com/MVCSS/">MVCSS</a>.
            .card--a
              %h4 File Structure
              %p <code>assets/</code> is made up of <code>stylesheets/</code> and <code>javascripts/</code> (You will also include your <code>fonts/</code> and <code>images/</code> here).
            .card--a
              %h4 Configuration
              %p The <code>assets/stylesheets/_config.sass</code> file is where all of the configuration options are. You can use this file to tweak base variables, as well as all variables set on the <code>modules/</code>.
            .card--a
              %h4 Stylesheets
              %p <code>core/</code> contains the core of <a href="http://mvcss.github.com/MVCSS/">MVCSS</a>, with a few additions. <code>modules/</code> is where all of the components that can be plugged into MVCSS live. As always, <code>application.sass</code> is your main stylesheet.
            .card--a
              %h4 JavaScripts
              %p <code>javascripts/</code> contains an <code>application.coffee</code> (and compiled <code>application.js</code>) file for base functionality, and then <code>components/</code> contains more specific JavaScript components. You can include the ones that you need, just like the Sass <code>modules/</code>.
          / Settings
          .contentSection#settings
            %h3 Settings
            .card--a.example
              %h4 Mixins
            .card--a.example
              %h4 Functions
            .card--a.example
              %h4 Extends
          / Buttons
          .contentSection#buttons
            %h3 Buttons
            %p Requires <code>modules/_buttons.sass</code>
            / Default Button
            .card--a.example
              %h4 Default Button
              %p.example-label .btn--a
              .example-output
                %a.btn--a(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a(href="#") Button
            / Secondary Button
            .card--a.example
              %h4 Secondary Button
              %p.example-label .btn--b
              .example-output
                %a.btn--b(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--b(href="#") Button
            / Full-width Button
            .card--a.example
              %h4 Full-width Button
              %p.example-label .btn--a.btn--block
              .example-output
                %a.btn--a.btn--block(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a.btn--block(href="#") Button
            / Multiple Buttons
            .card--a.example
              %h4 Multiple Buttons
              %p.example-label .btn--a
              .example-output
                %a.btn--a(href="#") Button
                %a.btn--a(href="#") Button
                %a.btn--a(href="#") Button
                %a.btn--a(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a(href="#") Button
                    %a.btn--a(href="#") Button
                    %a.btn--a(href="#") Button
                    %a.btn--a(href="#") Button
            / Large Button
            .card--a.example
              %h4 Large Button
              %p.example-label .btn--a.btn--large
              .example-output
                %a.btn--a.btn--large(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a.btn--large(href="#") Button
            / Small Button
            .card--a.example
              %h4 Small Button
              %p.example-label .btn--a.btn--small
              .example-output
                %a.btn--a.btn--small(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a.btn--small(href="#") Button
            / Mini Button
            .card--a.example
              %h4 Mini Button
              %p.example-label .btn--a.btn--mini
              .example-output
                %a.btn--a.btn--mini(href="#") Button
              .example-markup
                %pre
                  :preserve
                    %a.btn--a.btn--mini(href="#") Button
          / Containers
          .contentSection#containers
            %h3 Containers
            %p Requires <code>modules/_containers.sass</code>
            .card--a.example
              %h4 Rows
              %p.example-label .row
              %p Rows are full-width blocks of content. Often times, we'll create modifiers (<code>.row--a</code>) that have different background colors.
              .example-markup
                %pre
                  :preserve
                    .row
                      %h1 This is full-width content.
            .card--a.example
              %h4 Cells
              %p.example-label .cell
              %p Cells are the inner wrappers for you site content. The modifiers (<code>.cell--a</code>) will setup alternate widths for your site content.
              .example-markup
                %pre
                  :preserve
                    .cell
                      %h1 This is content within a inner wrapper.
            .card--a.example
              %h4 Cards
              %p.example-label .card
              %p Cards are stylistic wrappers for content elements.
              .example-markup
                %pre
                  :preserve
                    .card
                      %h1 This is a stylistic card.
            .card--a.example
              %h4 Buckets
              %p.example-label .bucket--01
              %p Buckets are content elements with a media element floated to the left, and content floated next to that media element. There are modifiers for the buckets based on the <code>$bucket-sizes</code> variable, which allows you to pass in the common media element sizes. For instance, <code>.bucket--01</code> accounts for a 75px-wide media element.
              .example-markup
                %pre
                  :preserve
                    .bucket--01
                      %img.bucket-media(src="http://placehold.it/75x75" alt="placeholder")
                      .bucket-content
                        %h1 Bucket
                        %p This is a bucket.
          / Content
          .contentSection#content
            %h3 Content
          / Dropdowns
          .contentSection#dropdowns
            %h3 Dropdowns
          / Forms
          .contentSection#forms
            %h3 Forms
            %p Requires <code>modules/_forms.sass</code>
            .card--a.example
              %h4 Basic Form
              %p.example-label .form
              .example-output
                %form.form(methd="post" action="")
                  %fieldset.form-field
                    %label.form-label(for="name") Name: <em>*</em>
                    %input.form-input(type="text" id="name" placeholder="Enter your name")
                    %p.form-note I hope you remember your name, because you need to enter it.

                  %fieldset.form-field
                    %label.form-label(for="email") Email: <em>*</em>
                    %input.form-input(type="email" id="email" placeholder="Enter your email")

                  %fieldset.form-field
                    %label.form-label(for="password") Password: <em>*</em>
                    %input.form-input(type="password" id="password")
                    %p.form-note <a href="#">Forgot your password?</a>

                  %fieldset.form-field
                    %label.form-label(for="select") Select your lunch today:
                    %select.form-select
                      %option(value="empty") Choose one:
                      %option(value="item") Hamburger and fries
                      %option(value="item") Salad
                      %option(value="item") Enchilada
                      %option(value="item") Salmon

                  %fieldset.form-field
                    %label.form-label(for="radio") Select your gender:
                    %ul
                      %li
                        %label.form-label.form-label--radio(for="male") <input type="radio" name="gender" id="male" /> Male
                      %li
                        %label.form-label.form-label--radio(for="female") <input type="radio" name="gender" id="female" /> Female
                      %li
                        %label.form-label.form-label--radio(for="other") <input type="radio" name="gender" id="other" /> Other

                  %fieldset.form-field
                    %label.form-label(for="notes") Extra notes:
                    %textarea.form-input(id="notes")

                  %fieldset.form-field
                    %label.form-label(for="select") Select an option:
                    %label.form-label.form-label--check(for="check") <input type="checkbox" id="check" /> Yes, I would like to receive tri-daily emails from your service.

                  %fieldset.form-field.form-field--submit
                    %input.btn--a(type="submit" value="Submit")
              .example-markup
                %pre
                  :preserve
                    %form.form(methd="post" action="")
                      %fieldset.form-field
                        %label.form-label(for="name") Name: <em>*</em>
                        %input.form-input(type="text" id="name" placeholder="Enter your name")
                        %p.form-note I hope you remember your name, because you need to enter it.

                      %fieldset.form-field
                        %label.form-label(for="email") Email: <em>*</em>
                        %input.form-input(type="email" id="email" placeholder="Enter your email")

                      %fieldset.form-field
                        %label.form-label(for="password") Password: <em>*</em>
                        %input.form-input(type="password" id="password")
                        %p.form-note
                          %a(href="#") Forgot your password?

                      %fieldset.form-field
                        %label.form-label(for="select") Select your lunch today:
                        %select.form-select
                          %option(value="empty") Choose one:
                          %option(value="item") Hamburger and fries
                          %option(value="item") Salad
                          %option(value="item") Enchilada
                          %option(value="item") Salmon

                      %fieldset.form-field
                        %label.form-label(for="radio") Select your gender:
                        %ul
                          %li
                            %label.form-label.form-label--radio(for="male")
                              %input(type="radio" name="gender" id="male") Male
                          %li
                            %label.form-label.form-label--radio(for="female")
                              %input(type="radio" name="gender" id="female") Female
                          %li
                            %label.form-label.form-label--radio(for="other")
                              %input(type="radio" name="gender" id="other") Other

                      %fieldset.form-field
                        %label.form-label(for="notes") Extra notes:
                        %textarea.form-input(id="notes")

                      %fieldset.form-field
                        %label.form-label(for="select") Select an option:
                        %label.form-label.form-label--check(for="check")
                          %input(type="checkbox" id="check") Yes, I would like to receive tri-daily emails from your service.

                      %fieldset.form-field.form-field--submit
                        %input.btn--a(type="submit" value="Submit")

            .card--a.example
              %h4 Inline Form
              %p.example-label .form.form--inline
              .example-output
                %form.form(methd="post" action="")
                  %fieldset.form-field.grid
                    .grid-box.grid-box--2of3
                      %input.form-input(type="text" placeholder="Enter your search team")
                    .grid-box.grid-box--1of3
                      %input.btn--a.btn--block.form-submit(type="submit" value="Search")
              .example-markup
                %pre
                  :preserve
                    %form.form(methd="post" action="")
                      %fieldset.form-field.grid
                        .grid-box.grid-box--2of3
                          %input.form-input(type="text" placeholder="Enter your search team")
                        .grid-box.grid-box--1of3
                          %input.btn--a.btn--block.form-submit(type="submit" value="Search")
          / Grids
          .contentSection#grids
            %h3 Grids
            %p Requires <code>modules/_grids.sass</code>
            .card--a.example
              %h4 Basic Grid
              %p.example-label .grid
              .example-output.example-output--grids
                .grid
                  .grid-box.grid-box--1of1
                    %p 1/1
                .grid
                  .grid-box.grid-box--1of2
                    %p 1/2
                  .grid-box.grid-box--1of2
                    %p 1/2
                .grid
                  .grid-box.grid-box--1of3
                    %p 1/3
                  .grid-box.grid-box--1of3
                    %p 1/3
                  .grid-box.grid-box--1of3
                    %p 1/3
                .grid
                  .grid-box.grid-box--1of4
                    %p 1/4
                  .grid-box.grid-box--1of4
                    %p 1/4
                  .grid-box.grid-box--1of4
                    %p 1/4
                  .grid-box.grid-box--1of4
                    %p 1/4
                .grid
                  .grid-box.grid-box--1of5
                    %p 1/5
                  .grid-box.grid-box--1of5
                    %p 1/5
                  .grid-box.grid-box--1of5
                    %p 1/5
                  .grid-box.grid-box--1of5
                    %p 1/5
                  .grid-box.grid-box--1of5
                    %p 1/5
                .grid
                  .grid-box.grid-box--1of6
                    %p 1/6
                  .grid-box.grid-box--1of6
                    %p 1/6
                  .grid-box.grid-box--1of6
                    %p 1/6
                  .grid-box.grid-box--1of6
                    %p 1/6
                  .grid-box.grid-box--1of6
                    %p 1/6
                  .grid-box.grid-box--1of6
                    %p 1/6
                .grid
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                  .grid-box.grid-box--1of8
                    %p 1/8
                .grid
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                  .grid-box.grid-box--1of10
                    %p 1/10
                .grid
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
                  .grid-box.grid-box--1of12
                    %p 1/12
              .example-markup
                %pre
                  :preserve
                    .grid
                      .grid-box.grid-box--1of1
                        %p 1/1
                    .grid
                      .grid-box.grid-box--1of2
                        %p 1/2
                      .grid-box.grid-box--1of2
                        %p 1/2
                    etc...
            .card--a.example
              %h4 Silent Classes
              %p If you don't want to explicitly call any of the <code>.grid</code> classes in your HTML, you can set the <code>$grid-silent</code> variable to <code>true</code> to use Sass placeholder selectors, like so:
              .example-markup
                %pre
                  :preserve
                    .main
                      @extend %grid
                      .content
                        @extend %grid-box
                        @extend %grid-box--2of3
                      .sidebar
                        @extend %grid-box
                        @extend %grid-box--1of3
            .card--a.example
              %h4 Responsive Grid
              %p In order to setup breakpoints for the grid, you'll need to set the <code>$grid-defaults</code> variable for your specified breakpoints. Then, either in your HTML or through <code>@extends</code> (when using <code>$grid-silent</code>), you'll do something like this:
              .example-markup
                %pre
                  :preserve
                    .grid
                      .grid-box.grid-box--desk--2of3.grid-box--lap--1of1
                        %h1 Main
                      .grid-box.grid-box--desk--1of3.grid-box--lap--1of1
                        %h2 Sidebar
            .card--a.example
              %h4 One-off Breakpoints
          / Hash URLs
          .contentSection#hash-urls
            %h3 Hash URLs
            %p Requires <code>components/hash-urls.coffee</code>
            .card--a.example
              %h4 Markup
              %p.example-label Haml
              .example-markup
                %pre
                  :preserve
                    %ul.sectionList
                      %li
                        %a(href="#example-01" data-hash="#example-01") Example 1
                      %li
                        %a(href="#example-02" data-hash="#example-02") Example 2

                    .contentSection#example-01
                      %h2 Example 01
                    .contentSection#example-02
                      %h2 Example 02
            .card--a.example
              %h4 JavaScript
              %p.example-label JavaScript
              .example-markup
                %pre
                  :preserve
                    $.hashURLs({
                      list: $('.sectionList a'),
                      content: $('.contentSection')
                    });
          / Icons
          .contentSection#icons
            %h3 Icons
          / Lists
          .contentSection#lists
            %h3 Lists
          / Modals
          .contentSection#modals
            %h3 Modals
          / Popovers
          .contentSection#popovers
            %h3 Popovers
          / Tables
          .contentSection#tables
            %h3 Tables
            %p Requires <code>modules/_tables.sass</code>
            .card--a.example
              %h4 Standard Table
              %p.example-label .table
              .example-output
                %table.table
                  %thead.table-head
                    %tr.table-row
                      %th #
                      %th First Name
                      %th Last Name
                      %th Email
                      %th Controls
                  %tbody.table-body
                    %tr.table-row
                      %td 1
                      %td Drew
                      %td Barontini
                      %td drew@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 2
                      %td Nick
                      %td Walsh
                      %td nick@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 3
                      %td Jason
                      %td VanLue
                      %td jason@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 4
                      %td Tim
                      %td Dikun
                      %td tim@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 5
                      %td Justin
                      %td Mezzell
                      %td justin@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 6
                      %td Dan
                      %td Denney
                      %td dan@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 7
                      %td Jordan
                      %td Wade
                      %td jordanw@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                .example-markup
                  %pre
                    :preserve
                      %table.table
                        %thead.table-head
                          %tr.table-row
                            %th #
                            %th First Name
                            %th Last Name
                            %th Email
                            %th Controls
                        %tbody.table-body
                          %tr.table-row
                            %td 1
                            %td Drew
                            %td Barontini
                            %td drew@envylabs.com
                            %td.table-controls
                              %a.btn.btn--a(href="#") Edit
                              %a.btn.btn--a(href="#") Delete
            .card--a.example
              %h4 Striped Table
              %p.example-label .table.table--striped
              .example-output
                %table.table.table--striped
                  %thead.table-head
                    %tr.table-row
                      %th #
                      %th First Name
                      %th Last Name
                      %th Email
                      %th Controls
                  %tbody.table-body
                    %tr.table-row
                      %td 1
                      %td Drew
                      %td Barontini
                      %td drew@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 2
                      %td Nick
                      %td Walsh
                      %td nick@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 3
                      %td Jason
                      %td VanLue
                      %td jason@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 4
                      %td Tim
                      %td Dikun
                      %td tim@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 5
                      %td Justin
                      %td Mezzell
                      %td justin@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 6
                      %td Dan
                      %td Denney
                      %td dan@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                    %tr.table-row
                      %td 7
                      %td Jordan
                      %td Wade
                      %td jordanw@envylabs.com
                      %td.table-controls
                        %a.btn.btn--a(href="#") Edit
                        %a.btn.btn--a(href="#") Delete
                .example-markup
                  %pre
                    :preserve
                      %table.table.table--striped
                        %thead.table-head
                          %tr.table-row
                            %th #
                            %th First Name
                            %th Last Name
                            %th Email
                            %th Controls
                        %tbody.table-body
                          %tr.table-row
                            %td 1
                            %td Drew
                            %td Barontini
                            %td drew@envylabs.com
                            %td.table-controls
                              %a.btn.btn--a(href="#") Edit
                              %a.btn.btn--a(href="#") Delete
          / Tabs
          .contentSection#tabs
            %h3 Tabs
            %p Requires <code>modules/_tabs.sass</code>
            .card--b.example
              .example-label.example-label--b .tabs
              .example-output
                %ul.tabs
                  %li.tab <a class="is-active" href="#one">Item One</a>
                  %li.tab <a href="#two">Item Two</a>
                  %li.tab <a href="#three">Item Three</a>
                  %li.tab <a href="#four">Item Four</a>
                .card--a.tabs-content.is-visible#one
                  %h2 Item One
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .card--a.tabs-content#two
                  %h2 Item Two
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .card--a.tabs-content#three
                  %h2 Item Three
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .card--a.tabs-content#four
                  %h2 Item Four
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .example-markup.example-markup--b
                %pre
                  :preserve
                    %ul.tabs
                      %li.tab
                        %a.is-active(href="#one") Item One
                      %li.tab
                        %a(href="#one") Item One
                      %li.tab
                        %a(href="#one") Item One
                      %li.tab
                        %a(href="#one") Item One
                    .card--a.tabs-content.is-visible#one
                      %h2 Item One
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .card--a.tabs-content#two
                      %h2 Item Two
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .card--a.tabs-content#three
                      %h2 Item Three
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .card--a.tabs-content#four
                      %h2 Item Four
                      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          / Tooltips
          .contentSection#tooltips
            %h3 Tooltips

  %script(type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js")
  %script(type="text/javascript" src="assets/javascripts/components/hash-urls.js")
  %script(type="text/javascript" src="assets/javascripts/application.js")

  :javascript
    $(function() {
      $.hashURLs({
        list: $('.sectionList a'),
        content: $('.contentSection')
      });
    });
</html>
