!!! 5
%html{ :lang => "en" }
%head
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
  %meta{ :charset => "utf-8" }
  %title MVCSS - Markup Patterns & JavaScript Components
  %link{ :href => "http://fonts.googleapis.com/css?family=Lato:300,400,,700,900", :rel => "stylesheet" }
  %link{ :href => "css/application.css", :rel => "stylesheet" }
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32794837-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%body
  %header
    .inner
      %h1 MVCSS
      %h2.tagline Markup Patterns & JavaScript Components
      %a.btn-default.download{ :href => 'https://github.com/mvcss/library' } Take me to the code &rarr;
  %section.content
    .inner
      .main
        .content-section#markup-patterns
          %h2 Markup Patterns
        .content-section#containers
          %h2 Containers
        .content-section#grids
          %h2 Grids
        .content-section#content
          %h2 Content
        .content-section#forms
          %h2 Forms
        .content-section#tables
          %h2 Tables
        .content-section#lists
          %h2 Lists
        .content-section#buttons
          %h2 Buttons
        .content-section#icons
          %h2 Icons
        .content-section#dropdowns
          %h2 Dropdowns
        .content-section#tooltips
          %h2 Tooltips
        .content-section#modals
          %h2 Modals
        .content-section#popovers
          %h2 Popovers
        .content-section#tabs
          %h2 Tabs
        .content-section#js-components
          %h2 JavaScript Components
        .content-section#hero-slider
          %h2 Hero Slider
        .content-section#hash-url
          %h2 Hash URLs
      %aside.sidebar
        %ol
          %li
            %a{ :href => '#markup-patterns', 'data-hash' => '#markup-patterns' } Markup Patterns
            %ol.sub
              %li
                %a{ :href => '#containers', 'data-hash' => '#containers' } Containers
              %li
                %a{ :href => '#grids', 'data-hash' => '#grids' } Grids
              %li
                %a{ :href => '#content', 'data-hash' => '#content' } Content
              %li
                %a{ :href => '#forms', 'data-hash' => '#forms' } Forms
              %li
                %a{ :href => '#tables', 'data-hash' => '#tables' } Tables
              %li
                %a{ :href => '#lists', 'data-hash' => '#lists' } Lists
              %li
                %a{ :href => '#buttons', 'data-hash' => '#buttons' } Buttons
              %li
                %a{ :href => '#icons', 'data-hash' => '#icons' } Icons
              %li
                %a{ :href => '#dropdowns', 'data-hash' => '#dropdowns' } Dropdowns
              %li
                %a{ :href => '#tooltips', 'data-hash' => '#tooltips' } Tooltips
              %li
                %a{ :href => '#modals', 'data-hash' => '#modals' } Modals
              %li
                %a{ :href => '#popovers', 'data-hash' => '#popovers' } Popovers
              %li
                %a{ :href => '#tabs', 'data-hash' => '#tabs' } Tabs
          %li
            %a{ :href => '#js-components', 'data-hash' => '#js-components' } JS Components
            %ol.sub
              %li
                %a{ :href => '#hero-slider', 'data-hash' => '#hero-slider' } Hero Slider
              %li
                %a{ :href => '#hash-url', 'data-hash' => '#hash-url' } Hash URLs
  :javascript
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4fe1bcaa613f5d1bfe000020');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
  %script{ :type => "text/javascript", :src => "js/application.js" }
