//-------------------------------------
//  Imports
//-------------------------------------

// ----- Compass ----- //

@import "compass"
@import "compass/layout"

// ----- Config ----- //

@import "config"

// ----- Core ----- //

@import "core/reset"
@import "core/settings"
@import "core/base"
@import "core/states"

//-------------------------------------
//  Modules
//-------------------------------------

@import "modules/buttons"
@import "modules/containers"
@import "modules/content"
@import "modules/dropdowns"
@import "modules/forms"
@import "modules/grids"
@import "modules/icons"
@import "modules/lists"
@import "modules/modals"
@import "modules/popovers"
@import "modules/tables"
@import "modules/tabs"
@import "modules/tooltips"

// ----- Module ----- //

// Examples:
// ------------------
// .module
// .moduleName
// ------------------

// -- Sub-module -- //

// Examples:
// ------------------
// .module-sub
// .moduleName-sub
// .moduleName-subName
// ------------------

// Modifiers //

// Examples:
// ------------------
// .module--modifier
// .moduleName--modifier
// .module-sub--modifier
// .moduleName-sub--modifier
// .moduleName-subName--modifer
// ------------------

// State Modifiers

// Examples:
// ------------------
// .is-module-action
// .is-moduleName-action
// .is-module-sub-action
// .is-moduleName-subName-action
// ------------------

//-------------------------------------
//  Docs
//-------------------------------------

// ----- Header ----- //

.siteHeader
  background: $color-base
  box-shadow: none
  h1, h2
    color: #FFF
  h2
    font-size: em(24px)
    color: lighten($color-base, 40%)
    font-weight: normal
  .btn--a
    font-size: em(18px)
    margin-top: em(22px, 18px)

// ----- Content ----- //

.content code
  background: lighten($color-base, 70%)
  border-radius: $border-radius
  font-family: $font-monospace
  font-size: em(14px)
  padding: em(2px, 14px) em(7px, 14px)

// ----- Example ----- //

.example h4
  margin-bottom: em(10px, 25px)

// -- Example Label -- //

.example-label
  background: lighten($color-base, 60%)
  font-family: $font-monospace
  font-size: em(12px)
  margin: 0
  padding: em(10px, 12px) em(24px, 12px)
  position: absolute
  right: -5px
  top: -5px

// Example Label Modifiers //

.example-label--b
  top: 0

// -- Example Markup -- //

.example-markup
  background: lighten($color-base, 75%)
  font-family: $font-monospace
  font-size: em(13px)
  margin-top: em(10px, 13px)
  overflow-x: scroll
  padding: em(10px, 13px) em(24px, 13px)

// Example Markup Modifiers //

.example-markup--b
  background: #FFF

// ----- Section List ----- //

.sectionList li
  font-size: em($base-font-size)
  margin-top: em(15px, $base-font-size)
  &.is-developing
    color: lighten($color-base, 50%)
  a
    color: $color-base
    display: block
    margin-bottom: em(10px, $base-font-size)
    &.active
      color: $color-highlight

// ----- Grids ----- //

.example-output--grids
  margin: 0 10px
  .grid-box
    background: lighten($color-base, 60%)
    border-right: $border-style
    height: 50px
    margin-bottom: 10px
    &:last-child
      border-right: 0
    p
      line-height: em(30px)
      text-align: center
